/** @format */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
}

#app {
  width: 100%;
}
.app__wrapper {
  margin: auto;
  margin-top: 0;
}
.over {
  overflow-y: hidden;
}
.header__wrapper {
  width: 100%;
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  color: gray;
  font-family: "Roboto", sans-serif;
}
#header_phone_icon,
#header_logOut_icon {
  margin: 0 16px 0 0;
}
.header__wrapper_info {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.header__wrapper_info {
  margin: 25px;
}
.nav {
  color: gray;
  height: 80px;
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: rgba(31, 29, 29, 0.849);
}
.nav__wrapper {
  width: 100%;
  max-width: 1150px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.nav__wrapper > img {
  margin: 10px 0 10px 25px;
}
.navbar {
  display: flex;
}

.navbar_button {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  text-transform: uppercase;
}
.navbar_button > a {
  text-decoration: none;
  color: grey;
}
.navbar_button > a:hover {
  background-color: rgb(71, 69, 69);
  color: white;
}
.navbar__wrapper {
  display: flex;
  align-items: center;
}
.navbar__wrapper > div {
  margin: 0 25px 0 25px;
}
.navbar__wrapper > img {
  width: 22px;
  height: 22px;
}
.navbar_button:hover {
  background-color: rgb(71, 69, 69);
  color: white;
}
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.hamburger-menu {
  position: absolute;
}
.menu__btn {
  visibility: hidden;
  display: flex; /* используем flex для центрирования содержимого */
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 80px;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  z-index: 1;
  background-color: rgba(31, 29, 29, 0.849);
}
.menu__box > div {
  margin-top: 50%;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: rgb(71, 69, 69);
}

.first_slide {
  position: relative;
  color: white;
}
.first_slide__wrapper {
  width: 100%;
  padding: 160px 20px;
}
.first_slide__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/Rectangle3.png");
  background-position: center;
  background-size: cover;
}
.first_slide__info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first_slide__text {
  max-width: 730px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 150%;
  margin-top: 80px;
}

.second_third_slides__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.second_slide {
  width: 100%;
  max-width: 1300px;
}
.second_slide__title {
  margin-top: 90px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Playfair Display", serif;
}
.second_slide__title > img,
.third_slide__title > img {
  margin-top: 30px;
}
.second_slide__items__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 25px;
  color: gray;
}
.second_slide__item,
.sixth_slide__item {
  display: flex;
  flex-direction: column;
}
.second_slide__item > p {
  margin-bottom: 10px;
}
.sixth_slide__item > p {
  margin-bottom: 10px;
}
.second_slide__item__img {
  height: 325px;
  background-color: #191b1c;
  margin-bottom: 25px;
}
.second_slide__item__img > img {
  margin: 55px 22px 55px 22px;
}
.second_slide__swiper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.second_slide__item_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.swiper {
  width: 50%;
  min-width: 500px;
  height: 100%;
  display: none;
}
.swiper1 {
  width: 50%;
  height: 100%;
  display: none;
}

.second_slide__item_arrows {
  color: grey;
}

.third_slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.third_slide__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.third_slide__content_wrapper {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}
.third_slide__title {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
  font-family: "Playfair Display", serif;
  margin: 480px 0 0 0;
}
.third_slide__button {
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  background-color: rgb(255, 255, 255, 0);
  font-size: 18px;
  color: white;
  border: 2px solid white;
  margin-top: 15px;
}
.third_slide__button:hover {
  background-color: gray;
  color: black;
  border-color: gray;
}
.third_slide__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./img/Rectangle8.png");
  background-position-x: center;
  background-size: cover;
}
.fourth_fifth_slides__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.fourth_slide {
  width: 100%;
  position: relative;
  flex: 1000px 1 1;
}

.fourth_slide__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./img/Rectangle9.png");
  background-position-x: center;
  background-size: cover;
}

.fifth_slide {
  width: 100%;
  position: relative;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fifth_slide_main__wrapper {
  width: 470px;
  padding: 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.fifth_slide_main__button {
  margin-top: 60px;
  width: 310px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0);
  color: white;
  border: solid 2px white;
  text-transform: uppercase;
}
.fifth_slide_main__button:hover {
  background-color: grey;
  color: black;
  border-color: gray;
}
.sixth_slide {
  position: relative;
}
.sixth_slide__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.sixth_slide__main__items {
  display: flex;
  margin-top: 40px;
}
.second_slide__item__wrapper {
  display: flex;
  width: 520px;
  margin: 0 18px 0 0;
}
.second_slide__item__wrapper:last-child {
  margin: 0;
}
.second_slide__item__wrapper > div {
  margin: 0 10px 0 0;
}
.seventh_slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.seventh_slide__wrapper {
  display: flex;
  padding: auto;
}
.seventh_slide__wrapper > div {
  display: flex;
  align-items: center;
}
.eighth_slide {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.eighth_slide__wrapper {
  width: 100%;
  padding: 80px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
}
.eighth_slide__bg {
  background-image: url("./img/Rectangle15.png");
  position: absolute;
  width: 100%;
  height: 100%;
  background-position-x: center;
  background-size: cover;
  top: 0;
  left: 0;
}
.eighth_slide__item > h1 {
  font-family: "Playfair Display", serif;
  margin-bottom: 40px;
}
.eighth_slide__item {
  width: 350px;
  margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.eighth_slide__item:last-child {
  margin-right: 0;
}
.eighth_slide__item_button__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.eighth_slide__item__button {
  background-color: black;
  color: white;
  padding: 20px 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.eighth_slide__item_input {
  display: flex;
}
.item_input > input,
.item_button > button {
  width: 210px;
  height: 40px;
}
.item_button > button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border: none;
}
.item_button > button:hover {
  background-color: rgb(83, 60, 60);
}

.item_input > input {
  border: none;
  color: white;
  background-color: rgb(255, 255, 255, 0.4);
  padding: 10px;
}
.item_input > input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.item_input > input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}
.item_input > input::-moz-placeholder {
  color: rgb(255, 255, 255);
}
.footer {
  display: flex;
  color: gray;
  height: 50px;
}
.footer__wrapper {
  width: 1000px;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 800px) {
  .app__wrapper {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .header {
    display: none;
  }
  .navbar {
    display: none;
  }

  .hamburger-menu {
    position: relative;
  }
  .menu__btn {
    visibility: visible;
  }
  .navbar {
    visibility: hidden;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .menu__box {
    transition-duration: 0.25s;
  }
  .menu__item {
    transition-duration: 0.25s;
  }

  .second_third_slides__wrapper {
    flex-direction: column;
  }
}

@media (max-width: 1800px) {
  .second_slide {
    max-width: 1800px;
  }
  .second_slide__items__wrapper {
    align-items: center;
    justify-content: center;
  }
  .second_slide__item {
    margin: 0 20px 0 0;
  }
  .second_third_slides__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 1300px) {
  .fourth_fifth_slides__wrapper {
    flex-direction: column;
  }
  .fourth_slide {
    height: 100%;
  }
  .fifth_slide {
    max-width: 1300px;
  }
  .eighth_slide__wrapper {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .eighth_slide__item {
    width: 100%;
    max-width: 600px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 550px) {
  .fifth_slide_main__wrapper {
    width: 360px;
  }
  .sixth_slide__main__items {
    display: none;
  }

  .swiper1 {
    min-width: 500px;
    display: flex;
    justify-content: space-between;
  }
  .second_slide__item {
    margin: 10px;
    min-width: 200px;
    align-items: center;
    justify-content: center;
  }

  .seventh_slide__wrapper > div {
    flex-direction: column;
  }
  .eighth_slide__item_input {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1100px) {
  .sixth_slide__main__items:last-child {
    display: none;
  }
  .second_slide__item__wrapper {
    width: auto;
    flex-direction: column;
  }
  .second_slide__item_container {
    display: none;
  }
  .swiper {
    display: flex;
  }
  .seventh_slide__wrapper {
    flex-direction: column;
  }
  .eighth_slide__item_button__wrapper {
    align-items: center;
    justify-content: center;
  }
}
